<a href="https://colab.research.google.com/github/ysh29/python-assignment/blob/main/python_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q1. L in a list is defined as L = [11,12,13,14]**

## **(i) WAP to add 50 and 60 to L**

In [ ]:
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print("After adding 50 and 60:", L)

After adding 50 and 60: [11, 12, 13, 14, 50, 60]

## **(ii) WAP to remove 11 and 13 from L**

In [ ]:
L = [11, 12, 13, 14]
L.remove(11)
L.remove(13)
print("After removing 11 and 13:", L)

After removing 11 and 13: [12, 14]

## **(iii) WAP to sort L in ascending order**

In [ ]:
L = [11, 12, 13, 14]
L.sort()
print("Sorted in ascending order:", L)

Sorted in ascending order: [11, 12, 13, 14]

## **(iv) WAP to sort L in descending order**

In [ ]:
L = [11, 12, 13, 14]
L.sort(reverse=True)
print("Sorted in descending order:", L)

Sorted in descending order: [14, 13, 12, 11]

## **(v) WAP to search for 13 in L**

In [ ]:
L = [11, 12, 13, 14]
if 13 in L:
    print("13 is present in the list.")
else:
    print("13 is not present in the list.")

13 is present in the list.

## **(vi) WAP to count the number of elements present in L**

In [ ]:
L = [11, 12, 13, 14]
print("Number of elements in L:", len(L))

Number of elements in L: 4

## **(vii) WAP to sum all the elements in L**

In [ ]:
L = [11, 12, 13, 14]
print("Sum of all elements in L:", sum(L))

Sum of all elements in L: 50

## **(viii) WAP to sum all ODD numbers in L**

In [ ]:
L = [11, 12, 13, 14]
odd_sum = sum(num for num in L if num % 2 != 0)
print("Sum of all ODD numbers:", odd_sum)

Sum of all ODD numbers: 24

## **(ix) WAP to sum all EVEN numbers in L**

In [ ]:
L = [11, 12, 13, 14]
even_sum = sum(num for num in L if num % 2 == 0)
print("Sum of all EVEN numbers:", even_sum)

Sum of all EVEN numbers: 26

## **(x) WAP to sum all PRIME numbers in L**

In [ ]:
L = [11, 12, 13, 14]
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

prime_sum = sum(num for num in L if is_prime(num))
print("Sum of all PRIME numbers:", prime_sum)

Sum of all PRIME numbers: 24

## **(xi) WAP to clear all the elements in L**

In [ ]:
L = [11, 12, 13, 14]
L.clear()
print("List after clearing:", L)

List after clearing: []

## **(xii) WAP to delete L**

In [ ]:
L = [11, 12, 13, 14]
del L
 print(L)  # Uncommenting this will give an error since L is deleted

# **Q2. D is the directory defined as D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}**

## **(i) WAP to add new entry in D; key = 8 and value = 8.8**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[8] = 8.8
print("After adding key=8, value=8.8:", D)

After adding key=8, value=8.8: {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

## **(ii) WAP to remove key = 2**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D.pop(2)
print("After removing key=2:", D)

After removing key=2: {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

## **(iii) WAP to check whether key 6 is present in D**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
if 6 in D:
    print("Key 6 is present in D.")
else:
    print("Key 6 is not present in D.")

Key 6 is not present in D.

## **(iv) WAP to count the number of elements present in D**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
print("Number of elements in D:", len(D))

Number of elements in D: 5

## **(v) WAP to add all the values present in D**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
print("Sum of all values in D:", sum(D.values()))

Sum of all values in D: 36.4

## **(vi) WAP to update the value of 3 to 7.1**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[3] = 7.1
print("After updating key=3 to 7.1:", D)

After updating key=3 to 7.1: {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

## **(vii) WAP to clear the dictionary**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D.clear()
print("Dictionary after clearing:", D)

# **Q3. S1 is a set defined as S1 = {10, 20, 30, 40, 50, 60}.S2 = {40, 50, 60, 70, 80, 90}**

## **(i) WAP to add 55 and 66 in Set S1**

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
S1.add(55)
S1.add(66)
print("After adding 55 and 66:", S1)

## **(ii) WAP to remove 10 and 30 from Set S1**

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
S1.remove(10)
S1.remove(30)
print("After removing 10 and 30:", S1)

## **(iii) WAP to check whether 40 is present in S1**

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

if 40 in S1:
    print("40 is present in S1.")
else:
    print("40 is not present in S1.")


## **(iv) WAP to find the union between S1 and S2**

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

union_set = S1.union(S2)
print("Union of S1 and S2:", union_set)

## **(v) WAP to find the intersection between S1 and S2**

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

intersection_set = S1.intersection(S2)
print("Intersection of S1 and S2:", intersection_set)

Intersection of S1 and S2: {40, 50, 60}

## **(vi) WAP to find S1 - S2**

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

difference_set = S1.difference(S2)
print("S1 - S2:", difference_set)

S1 - S2: {10, 20, 30}

# **Q4. Write The Following Program**

## **(i) WAP to print 100 random strings whose length is between 6 and 8**

In [ ]:
import random
import string

for _ in range(100):
    length = random.randint(6, 8)
    rand_str = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
    print(rand_str)

t8oFJv
KjV4394T
msq3YlF
iK0Ip7zk
DGph7fz
eau539dz
ZMhMaOw
KFk5km8
DZK6SmQU
8pUJbz
iX59S4
fS6imHIe
HDZIJrv
R8QLod
Y2xO0Y
hRcz8T
YFreuN
F7j4bd
RCVOLK90
a76Poi5
p5Oysdk
GxQibiPx
IvfF6V
IPD9q1n4
1nM3jZ
IPUyZtnl
bku0q7
d6bWWSiG
1LndFSo
8TkU4jP
mwH4JGb
68Lkmptx
WmCKAzTq
YFB1So
ys9BZG
0mws1rRV
tDIBqHT
T3272Pt
2dYjzqM
WgTE8pF
1R6EVW
sgeg9s
HIXehHL
2ek2iv
HOGnq1
6J1Jro
nlRf7WaI
5oaAqVUs
WpPpUkz
gxckIn
tNclun
HQSloV
9djglf
HqUvq6T
0R9khRj5
PesEWJ2
yJS5T7VN
F7zZOB
J5zT16
PpECNgP4
s5fOma
4B8LWzQ
r1qEl6M0
EcJZeYAt
Y2fIrQ
mpEEDT
Ub7jfQZ
WZbBJA
0ZIseUJ
53mYkG
XoMCsT
qiqEhO
oA6ufCp
LYpV1lUp
oWRXFJ7
Zw6tQI
YC9Z5j
asnh7R2V
4jSBR45
OcwTqjcP
68w2EAsl
aEK3h1
rfgzkJ0
yi4CKME7
l6BvDIs
vHZWNT4y
nGpFgWGY
DWOrandA
EvqdXXP
qRYCn2h
5rw4Jai
7PdkkSfb
DV45mc0
bAvlikpo
H7oVFm
PwWxrfXv
pkhTU8w
hjkgHzLv
R9NP7kDs
kORmQbzg

## **(ii) WAP to print all prime numbers between 600 and 800**

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num, end=' ')

601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797

## **(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9**

In [ ]:
for num in range(100, 1000):
    if num % 7 == 0 and num % 9 == 0:
        print(num, end=' ')

126 189 252 315 378 441 504 567 630 693 756 819 882 945

# **Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find**

## **create two random lists**

In [ ]:
import random

list1 = random.sample(range(10, 30), 10)
list2 = random.sample(range(10, 30), 10)

print("List 1:", list1)
print("List 2:", list2)

List 1: [13, 28, 18, 17, 11, 20, 29, 27, 19, 12]
List 2: [14, 13, 16, 28, 22, 17, 19, 18, 12, 15]

## **(i) Common numbers in the two lists**

In [ ]:
common = list(set(list1) & set(list2))
print("(i) Common numbers:", common)

(i) Common numbers: [12, 13, 17, 18, 19, 28]

## **(ii) Unique numbers in both the lists**

In [ ]:
unique = list(set(list1) ^ set(list2))
print("(ii) Unique numbers:", unique)

## **(iii) Minimum in both the lists**

In [ ]:
print("(iii) Minimum in list1:", min(list1))
print("(iii) Minimum in list2:", min(list2))

## **(iv) Maximum in both the lists**

In [ ]:
print("(iv) Maximum in list1:", max(list1))
print("(iv) Maximum in list2:", max(list2))

## **(v) Sum of both the lists**

In [ ]:
print("(v) Sum of list1:", sum(list1))
print("(v) Sum of list2:", sum(list2))

# **Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print:**

## **Create the list of 100 random numbers**

In [ ]:
import random

# Generate 100 random numbers between 100 and 900
numbers = [random.randint(100, 900) for _ in range(100)]
print("Random Numbers:\n", numbers)

Random Numbers:
 [770, 218, 611, 348, 323, 765, 126, 629, 413, 665, 564, 358, 118, 826, 803, 795, 448, 745, 790, 363, 450, 322, 211, 447, 344, 787, 310, 502, 375, 515, 359, 555, 159, 108, 578, 477, 347, 685, 287, 636, 524, 487, 344, 328, 651, 613, 639, 842, 761, 725, 694, 590, 882, 180, 571, 386, 160, 159, 741, 629, 292, 502, 585, 795, 720, 305, 233, 459, 408, 209, 447, 813, 833, 135, 685, 686, 734, 700, 621, 379, 454, 162, 330, 714, 321, 662, 703, 454, 800, 530, 206, 884, 653, 114, 228, 126, 869, 598, 877, 862]

## **(i) All odd numbers**

In [ ]:
import random

numbers = [random.randint(100, 900) for _ in range(100)]
odd_numbers = [n for n in numbers if n % 2 != 0]
print("Odd Numbers:", odd_numbers)
print("Count of Odd Numbers:", len(odd_numbers))

Odd Numbers: [517, 507, 443, 781, 381, 145, 457, 835, 631, 527, 117, 549, 195, 609, 881, 383, 589, 285, 571, 717, 345, 105, 195, 395, 745, 161, 235, 667, 315, 131, 637, 513, 805, 317, 519, 359, 729, 347, 525, 707, 811, 539, 847, 259, 807, 547, 409, 261, 153, 321, 295, 569, 313, 361, 533, 713]
Count of Odd Numbers: 56

## **(ii) All even numbers**

In [ ]:
even_numbers = [n for n in numbers if n % 2 == 0]
print("Even Numbers:", even_numbers)
print("Count of Even Numbers:", len(even_numbers))

## **(iii) All prime numbers**

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

prime_numbers = [n for n in numbers if is_prime(n)]
print("Prime Numbers:", prime_numbers)
print("Count of Prime Numbers:", len(prime_numbers))

# **Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.**

##  **7.1 WAP to read all the keys and values from dictionary and write to the file in the given below format.**

**Key1, Value1**
---
**Key2, Value2**
---
**Key3, Value3**
 --

In [8]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
for key, value in D.items():
    print(f"{key}, {value}"),D

1, One
2, Two
3, Three
4, Four
5, Five

# **Q8. L is a list defined as L=["One","Two","Three","Four","Five"].**

## **8.1 WAP to count the length of reach element from a list and write to the file in the given below format:**

**one, 3**
---
**two, 3**
----
**four, 4**
---

In [6]:
L = ["One", "Two", "Three", "Four", "Five"]

with open("output.txt", "w") as f:
    for word in L:
        f.write(f"{word}, {len(word)}\n")

print("Written to output.txt")

Written to output.txt

## **Q9. Write to the file 100 random strings whose length between 10 and 15.**

In [3]:
import random as r
import string as s

words=[]

for i in range(100):
    length = r.randint(10, 15)
    rand_str = ''.join(r.choices(s.ascii_letters, k=length)) #r.choices allows the repetition of letters
    words.append(rand_str)

# Write to a file in Colab
with open("question9.txt", "w") as f:
    for s in words:
        f.write(s + "\n")

print("100 random strings are written to 'question9.txt' file")

100 random strings are written to 'question9.txt' file

## **Q10. Write to the file all prime numbers between 600 and 800.**

In [4]:
import random as r
import string as s

def prime(n):
  if n < 2:
        return False
  for i in range(2,(n//2)+1):
    if n%i == 0:
      return False
  return True

num=[]
for i in range(600,801):
  if prime(i)==True:
    num.append(i)

with open("question10.txt",'w') as f:
  for s in num:
    f.write(str(s)+"\n")

print("Prime numbers added to file.")

Prime numbers added to file.

## **Q11. WAP to calculate the time taken by a program.**

In [ ]:
import time as t

start = t.time()
# Sample work
sum([i*i for i in range(1000000)])
end = t.time()

print("Time taken:", end - start, "seconds")

## **Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.**

![Screenshot 2025-06-16 200245.png]()

In [ ]:
import time as t
import matplotlib.pyplot as plt
import random as r

times=[]
sizes=[5000,10000,15000,20000,25000]

for s in sizes:
  arr = [r.randint(0,10000) for i in range(s)]
  start = t.time()
  arr.sort
  end = t.time()
  times.append(end-start)

plt.plot(sizes,times,marker='o')
plt.xlabel("Number of elements")
plt.ylabel("Time taken (s)")
plt.title("Sorting Time Analysis.")
plt.grid(True)
plt.show()

## **Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks.**

In [ ]:
D = {
    "A" : [67,78,45,60,78],
    "B" : [56,99,78,33,70],
    "C" : [45,100,24,67,85]
}
print(D)

averages={}
for name,marks in D.items():
  avg = sum(marks)/len(marks)
  averages[name]=avg

print(averages)

max_student = max(averages, key=averages.get)
min_student = min(averages, key=averages.get)
print("Max Average Marks:",max_student,"(",averages[max_student],")")
print("Min Average Marks:",min_student,"(",averages[min_student],")")